.page_wrapper {
  img {
    border: 4px solid #03e9f4;
    border-radius: 1rem;
  }
}

@media (max-width: 768px) {
  .single_wrapper {
    flex-direction: column;
    align-items: center;
    .image_wrapper {
      width: 100% !important;
    }
    .description_wrapper {
      width: 80% !important;
      margin: 0 !important;
    }
  }
}
