@import "../../../styles/global.scss";

.Wallet_wrapper {
  background-color: #ffffff;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0.1rem 0.2rem 0.7rem #444040;
  color: #444040;

  h3 {
    color: #444040;
  }

  .logo_wrapper {
    width: 5rem;
    height: 5rem;
    margin-right: 2rem;

    img {
      height: 100%;
    }
  }
}

.card-wrapper {
  p {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}
