.Coin_wrapper {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0.1rem 0.2rem 0.7rem #444040;
  color: #444040;
  max-width: 200px;
  .Logo_wrapper {
    width: 5rem;
    height: 5rem;
    margin-right: 2rem;
    img {
      border-radius: 50%;
      height: 100%;
    }
  }
  .CoinBody {
    display: flex;
    flex-direction: column;
  }
}

.swiper-wrapper {
  margin: 4rem;
}

.swiper-slide {
  display: block !important;
}
