.overview {
  padding: 4em 1rem 1rem 1rem;
  color: #ffffff;
  border: 2px dotted #ffffff;
  border-radius: 5px;
  font-weight: bold;
  max-width: 300px !important;
}

.Chart_wrapper {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 50%;
  flex-direction: column;

  .Chart_data {
    height: 300px;

    // margin: 10px auto;
  }
}

.Coins_wrapper {
  width: 80% !important;
  height: 100px;
}

@media (max-width: 550px) {
  .wallet_wrapper {
    flex-wrap: wrap;
  }
}
